:root {
  --bg-color-one: #eeeff1;
  --bg-color-second: #34547a;
  --bg-color-third: #eeeff187;
  --title-color: black;
  --text-color: #727272;
  --white-text: white;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Section Hero */
.hero {
  background-color: var(--bg-color-one);
  padding-bottom: 140px;
}

.header {
  padding: 80px 0 115px;
}
.header__items {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  row-gap: 15px;
}
.header__item:hover {
  transition: all 0.5s;
  transform: scale(1.15);
}

.header__link {
  color: var(--title-color);
  letter-spacing: 2px;
}
.header__link:hover {
  color: var(--bg-color-second);
  transition: all 0.5s;
}
.header__link--active {
  color: var(--bg-color-second);
  transition: all 0.5s;
}

.hero__title {
  font-weight: 500;
  font-size: 48px;
  color: var(--title-color);
  margin-bottom: 60px;
}

.hero__desc {
  /* width: 540px; */
  margin-bottom: 60px;
  max-width: 540px;
}

.header__button {
  background-color: var(--bg-color-second);
  padding: 15px 40px;
  color: var(--white-text);
  border: none;
  letter-spacing: 1.6px;
  cursor: pointer;
}
.header__button:hover {
  transition: all 0.5s;
  transform: scale(1.15);
  border-radius: 15px;
}
/* Section Hero */

/* Section about */
.about-me {
  background-color: var(--bg-color-third);
}

.about-me__content {
  max-width: 540px;
  padding: 100px 20px;
  margin: 0 auto;
  text-align: center;
}

.about-me__title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 50px;
  color: var(--title-color);
}
/* Section about

/* Section icon */
.section-icon {
  background-color: var(--bg-color-second);
  padding-block: 100px;
}

.section-icon__items {
  display: flex;
  gap: 45px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-icon__item {
  display: flex;
  gap: 20px;
  transition: all 0.5s;
  align-items: center;
}
.section-icon__item:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}

.icon-text {
  display: flex;
  flex-direction: column;
}

.icon-text__span {
  color: var(--white-text);
}

.icon-text__span-size-one {
  font-size: 21px;
  font-weight: 500;
}
/* Section icon */

/* How_I_Work section */
.section-how-i-work {
  background-color: var(--bg-color-one);
}

.video {
  /* width: 540px; */

  max-width: 540px;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0px 55px;
}

.section-how-i-work__title {
  font-size: 32px;
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 50px;
}

.video-block {
  position: relative;
  margin-bottom: 100px;
}

.video-block__player {
  max-width: 100%;
  display: block;
}

.video-block__play-button {
  position: absolute;
  /* top: 35%;
  left: 45%; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.video-block__play-button:hover {
  transform: scale(1.15);
  transition: all 0.5s;
  background-color: var(--bg-color-second);
  border-radius: 50%;
}
/* How_I_Work section */

/* Footer */
.footer-block {
  background-color: var(--bg-color-second);
}

.footer-block__content {
  padding-block: 50px;
}

.footer-block__name {
  color: var(--white-text);
  line-height: 1.5;
  font-size: 21px;
  margin-bottom: 20px;
}

.footer-block__copyright {
  color: var(--white-text);
  line-height: 1.5;
}
/* Footer */

@media (max-width: 768px) {
  .header {
    padding: 40px 0 60px;
  }
  .hero {
    padding-bottom: 80px;
  }
  .hero__title {
    font-size: 36px;
    margin-bottom: 25px;
  }

  .section-icon__items {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
}
@media (max-width: 375px) {
  .container {
    padding: 0 15px;
  }

  .header {
    padding: 25px 0 35px;
  }

  .header__items {
    /* gap: 15px;
    justify-content: center; */
    display: none;
  }

  .header__link {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .hero {
    padding-bottom: 60px;
  }

  .hero__title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .hero__desc {
    font-size: 14px;
    margin-bottom: 25px;
  }

  .about-me__content {
    padding-left: 15px;
    padding-right: 15px;
    padding-block: 50px;
  }

  .section-icon__item {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
  }

  .video-block__play-button {
    width: 55px;
    height: 55px;
  }

  .footer-block__content {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .header__item:hover,
  .section-icon__item:hover,
  .header__button:hover {
    transform: none;
  }
}
@media (max-width: 425px) {
  .header__items {
    /* gap: 15px;
    justify-content: center; */
    display: none;
  }
}
