@use "./variables" as variables;
@use "./mixins" as m;

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: variables.$text-color;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  background-color: variables.$bg-color-one;
  padding-bottom: 60px;

  &__title {
    font-weight: 500;
    font-size: 48px;
    color: variables.$title-color;
    margin-bottom: 60px;
  }

  &__desc {
    max-width: 540px;
    margin-bottom: 60px;
  }
}

.header {
  padding: 80px 0 115px;

  &__items {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    row-gap: 15px;
    @include m.hover-scale;
  }

  &__link {
    color: variables.$title-color;
    letter-spacing: 2px;

    &--active {
      color: variables.$bg-color-second;
    }

    &:hover {
      color: variables.$bg-color-second;
    }
  }

  &__button {
    @include m.hover-scale;
    @include m.button-base;
    background-color: variables.$bg-color-second;
    color: variables.$white-text;
    letter-spacing: 1.6px;

    &:hover {
      border-radius: 15px;
    }
  }
}

/* Section about */
.about-me {
  background-color: variables.$bg-color-third;

  &__content {
    max-width: 540px;
    padding: 100px 20px;
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 50px;
    color: variables.$title-color;
  }
}
/* Section icon */

.section-icon {
  background-color: variables.$bg-color-second;
  padding-block: 100px;
  &__items {
    display: flex;
    gap: 45px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    gap: 20px;
    align-items: center;

    @include m.hover-scale;
  }
}

.icon-text {
  display: flex;
  flex-direction: column;
  &__span {
    color: variables.$white-text;
  }

  &__span-size-one {
    font-size: 21px;
    font-weight: 500;
  }
}

/* How_I_Work section */
.section-how-i-work {
  background-color: variables.$bg-color-one;
}

.video {
  /* width: 540px; */

  max-width: 540px;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0px 55px;
}

.section-how-i-work__title {
  font-size: 32px;
  font-weight: 500;
  color: variables.$title-color;
  margin-bottom: 50px;
}

.video-block {
  position: relative;
  margin-bottom: 100px;
  &__player {
    max-width: 100%;
    display: block;
  }
  &__play-button {
    @include m.hover-scale;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: variables.$bg-color-second;
    }
  }
}

/* Footer */
.footer-block {
  background-color: variables.$bg-color-second;

  &__content {
    padding-block: 50px;
  }
  &__name {
    color: variables.$white-text;
    line-height: 1.5;
    font-size: 21px;
    margin-bottom: 20px;
  }
  &__copyright {
    color: variables.$white-text;
    line-height: 1.5;
  }
}

/* Footer */

@media (max-width: 768px) {
  .header {
    padding: 40px 0 60px;
  }
  .hero {
    padding-bottom: 80px;
  }
  .hero__title {
    font-size: 36px;
    margin-bottom: 25px;
  }

  .section-icon__items {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
}
@media (max-width: 375px) {
  .container {
    padding: 0 15px;
  }

  .header {
    padding: 25px 0 35px;
    &__items {
      display: none;
    }
    &__link {
      font-size: 14px;
      letter-spacing: 1px;
    }
  }

  .about-me__content {
    padding-left: 15px;
    padding-right: 15px;
    padding-block: 50px;
  }

  .section-icon__item {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
  }

  .video-block__play-button {
    width: 55px;
    height: 55px;
  }

  .footer-block__content {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .header__item:hover,
  .section-icon__item:hover,
  .header__button:hover {
    transform: none;
  }
}
@media (max-width: 425px) {
  .header__items {
    display: none;
  }
}
